# Linters and formatters
flake8
black
mypy
ruff

# Testing
pytest
pytest-cov
pytest-asyncio

# Type-checking
types-requests

# Dependency locking
pip-tools

# (Optional) Documentation generation
mkdocs
mkdocstrings
