# Linters and formatters
flake8
black
mypy
ruff

# Testing
pytest
pytest-cov
pytest-asyncio

# Broker integration testing (development/CI only)
aiokafka>=0.11,<1.0
aio-pika>=9,<10
aioredis==2.0.1

# Type-checking
types-requests

# Dependency locking
pip-tools

# (Optional) Documentation generation
mkdocs
mkdocstrings
